

.main-content__project .project-card, .track-card{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-items: center;
    
}

.track-card {
    display: grid;
    position:relative;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    overflow-y:scroll;  
    max-height: 500px;   
}


.track-card::-webkit-scrollbar {
    display: none;
}
 

.project-card .card, .track-card .card{
    position: relative; 
    border:1px solid black;
    border-radius: 10px; 
    background-color: var(--color-platinium); 
    width: 400px;
    z-index: 1;
    margin: 30px 20px 20px 20px;
}



.card .card__header, .card__body{
    margin: 20px 0px 20px 10px;
}

.card .card__header .card-title{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.card__header .card-title a{
    text-decoration: none;
}

.card-title a .badge-git{
    font-size: 25px;  
}

.card__body .label ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    gap: 4px;
    cursor: default;
}

.card__body .label li{
    display: flex;
    gap: 6px;
      
}

.card__body .label li div{
    border: 1px solid var(--color-midnight-green);
    padding: 4px 10px 4px 10px;
    border-radius: 20px;
    background-color:#CFCFCF;
      
}

.card-button{
    padding-top: 30px;
    padding-bottom: 10px;
    
}


.card-button .btn{
    position: relative;
    border: 1px solid var(--color-rosy-brown);
    color: var(--color-midnight-green);
    padding: 8px 8px 8px 8px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
    z-index: 1;
   
   
}

.card-button .btn::before{
    transition: 0.5s all ease;
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: var(--color-rosy-brown);
    z-index: -1;
  
}

/* .card-button .btn:hover, .btn:focus{
    color:;
} */

.btn:hover::before, .btn:focus::before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

/* tratamento em caso o span do git não funcione */
.badge-git::before {
    content: "📂"; 
    font-size: 25px;
    display: inline-block;
    position: relative;
    top: 4px;
    visibility: hidden;
}

.badge-git:before {
    visibility: visible; 
}


.card.hovered {
    transform: translateY(-10px) scale(1.05); /* Levanta e aumenta */
    transition: all 0.2s ease-in-out; 
    outline: 10px solid var(--color-rosy-brown);

}

.badge {
    display: inline-block;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 5px;
    margin-left: 5px;
    position: relative;
    top: -5px;
    bottom: 10px


}

.badge.beta {
    background-color: #e67e22; /* Laranja para destacar */
}

.badge.stable{
    background-color: #4CAF50;
}

.badge.lab{
    background-color: #2196F3;
    top: 3px;
}

.doc__link{
    font-style: italic;
    padding-top: 20px;
    font-weight: 300;
}
